<?xml version="1.0"?>
<!--
/**
 * @author     Osiozekhai Aliu
 * @package    Osio_AssemblyService
 * @copyright  Copyright (c) 2024 Osiozekhai Aliu (https://github.com/aliuosio)
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- remove product link on assembly service from cart -->
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="remove_product_link_from_cart"
                sortOrder="100"
                disabled="false"
                type="Osio\AssemblyService\Plugin\RemoveProductLinkFromCart"/>
    </type>

    <!-- remove product link on assembly service from minicart -->
    <preference for="Magento\Checkout\CustomerData\DefaultItem"
                type="Osio\AssemblyService\Override\Magento\Checkout\CustomerData\DefaultItem"/>

</config>
