.hidden {
    display: none;
}

#assembly-image {
    width: 50%;
    float: left;
}

#assembly-price {
    width: 50%;
    float: right
}

#assembly-error {
    color: red;
    display: none;
}

.postcode-price {
    margin-left: 10px;
}

#product-assembly-service {
    display: none;
}
